requests
colorama
termcolor
pyjwt
cryptography
fake-useragent
sqlalchemy
psycopg2-binary
python-jose
shodan
censys
dnspython
python-whois
spyse-python
validators
pyperclip
openpyxl
reportlab
lxml
httpx
aiohttp
pytest
tabulate
rich
Pillow
mitmproxy
tk
pyinstaller
pyyaml